/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import 'bootstrap';
@import 'bootstrap-responsive';
@import "compass/css3";
// @import "normalise";
// @import "boilerplate";

$dblue: rgba(29, 60, 66, 1);
$blue: rgba(103, 191, 173, 1);
$yellow: rgba(242, 236, 153, 1);
$peach: rgba(242, 196, 141, 1);
$red: rgba(242, 80, 80, 1);

h1 {
	color: $dblue;
	font-size: 2em;
	border-bottom: 1px solid $red;
	font-weight: normal;
	font-style: italic;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	background: $blue;
	min-width: 410px;
	font-family: 'Noto Sans', sans-serif;
	color: $dblue;
}

.navbar {
	background: $dblue;
	position: relative;
	z-index: 999;
	.brand {
		color: $red;
		font-size: 30px;
		margin-left: 20px;
		text-shadow:none;
		font-weight: bold;
		padding-top: 23px;
	}
	nav {
		margin-left: 30px;
		float: left;
		a {
			margin-top: 10px;
			height: 52px;
			display: block;
			font-size: 24px;
			line-height: 45px;
			padding: 0px 30px;
			@include border-radius(2px 2px 0px 0px);
			background: $dblue;
			color: $blue;
			float: left;
		}
		a.active {
			color: $dblue;
			background: $blue;
		}
		a:hover {
			text-decoration: none;
			line-height: 44px;
		}
	}
}

#toolbox {
	min-height: 100%;
	width: 211px;
	background: $dblue;
	position: absolute;
	top: 0px;
	padding: 0px 20px;
	#datasets {
		margin-top: 100px;
		color: $blue;
	}
	select {
		width: 100%;
	}
	label {
		margin-top: 10px;
		font-size: 18px;
	}
	legend {
		border-color: $red;
		color: $red;
	}
	fieldset {
		margin-bottom: 20px;
		padding-bottom: 10px;
	}
	option {
		padding: 5px;
		display: block;
	}
	.legend-checkbox {
		margin-top: -2px;
	}
	.disabled {
		label, input, select {
			opacity: .5;
		}
		input[type=checkbox] {
			opacity: 1;
		}
	}

	.zoom-slider {
		margin: 10px 0px 20px; 
	}

}

.minicolors-focus {
	z-index: 3;
}

.minicolors-theme-bootstrap .minicolors-input {
	@extend .input-small;
	margin-bottom: 10px;
}

#main {
	margin-left: 251px;
	padding: 8px 30px;
}

//Slider
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: $dblue;
	border-color: $blue;
}