/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import 'bootstrap';
@import 'bootstrap-responsive';
@import "compass/css3";


.container {
	position: relative;
	padding-bottom: 100px;
}

h1 {
	margin-top: 100px;
	font-size: 4em;
}

.intro {
	font-size: 2em;
	line-height: 1.5em;
	margin-bottom: 2em;
	font-style: italic;
	font-family: Georgia, "Times New Roman", serif;
}

// MAP


#map {
	height: 700px;
}

path {
	fill-opacity: .7;
	stroke: #fff;
	stroke-width: 1.5px;
}

path.emphasis {
	fill-opacity: .9;
}

path.deemphsis {
	fill-opacity: .4;
}


#legend {
	float: right;
	margin-left: 30px;
	#colours {
		border-top: 1px solid black;
		border-left: 1px solid black;
		float: left;
		div {
			width: 100%;
			clear: both;
		}
	}
	

	a {
		opacity: .7;
		width: 30px;
		height: 30px;
		margin:10px;
		display: block;	
		float: left;
	}
}

// MATRIX

#matrix {
	width: 80%;
	float: left;
}

#matrix-info {
	width: 15%;
	float: right;
	height: 150px;
}

circle {
	fill : #000;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.dot {
  stroke: #000;
}



// MAP COLOURS
// -.-.-.- Paul's colours -.-.-.-

$darkblue : #143ead;
$midblue : #5884d1;
$lightblue : #9dcaf6;
$darkorange : #c36d4b;
$midorange : #e0a882;
$lightorange : #fde3b9;
$darkred : #9e131a;
$midred : #cc565f;
$lightred : #fa99a4;

.downsd.downwohn {
	background-color: $lightblue ;
	fill: $lightblue ;
}
.downsd.midwohn {
	background-color: $lightorange ;
	fill: $lightorange ;	
}
.downsd.upwohn {
	background-color: $lightred ;
	fill: $lightred ;
}
.midsd.downwohn {
	background-color: $midblue ;
	fill: $midblue ;
}
.midsd.midwohn {
	background-color: $midorange ;
	fill: $midorange ;
}
.midsd.upwohn {
	background-color: $midred ;
	fill: $midred ;
}
.upsd.downwohn {
	background-color: $darkblue ;
	fill: $darkblue ;
}
.upsd.midwohn {
	background-color: $darkorange ;
	fill: $darkorange ;
}
.upsd.upwohn {
	background-color: $darkred ;
	fill: $darkred ;
}
